<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		
		<!-- File paths -->
		<add key="Paths.UsersFile" value="users.json"/>
		<add key="Paths.AccountsFile" value="accounts.json"/>
		<add key="Paths.CurrenciesFile" value="currencies.json"/>
		<add key="Paths.TransactionsFile" value="transactions.json"/>
		<add key="Paths.TransfersFile" value="transfers.json"/>
		<add key="Security.PinEncryptionKey" value="mK8vQ2xR7nL4pZ9sW3dF6hJ1tY5cA0eB8uI2oP7qN4s=" />
		
	</appSettings>

</configuration>